{% extends "base.html" %} {% block title %}Tweet List | {{ block.super }}{% endblock title %} 
{% block script %} 
<script>
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    $(document).ready(function(){
        /** console.log('working'); */
        var query = getParameterByName('q');
        var tweetList = []
        var nextTweetUrl;

        $(document.body).on("click", ".retweetBtn", function(e){
            e.preventDefault();
            console.log("clicked");
            var url = "/api" + $(this).attr("href");

            $.ajax({
                method: "GET",
                url: url,
                success: function( data ){
                    console.log( data )
                    attachTweet(data, true, true)
                    updateHashlinks()
                },
                error : function( data ){
                    console.log('error')
                    console.log( data )
                }
            });

        });


        function updateHashlinks(){
            $(".media-body").each(function(){
                var hashtagRegex = /(^|\s)#([\w\d-]+)/g
                var usernameRegex = /(^|\s)@([\w\d-]+)/g
                var currentHtml = $(this).html()
                var newText;
                newText = currentHtml.replace(hashtagRegex, "$1<a href='/tags/$2/'>#$2</a>");
                newText = newText.replace(usernameRegex, "$1<a href='/$2/'>@$2</a>");
                $(this).html(newText);
            });
        }

        function attachTweet(tweetValue, prepend, retweet){
            var tweetUser = tweetValue.user;
            /**var isRetweet = tweetValue.is_retweet;*/
            var tweetContent = tweetValue.content;
            var dateDisplay = tweetValue.date_display;
            var tweetFormatHtml;
            if ( retweet &&  tweetValue.parent ){
                var mainTweet = tweetValue.parent
                tweetFormattedHtml = "<div class=\"media\"><div class=\"media-body\"><span class='grey-color'> Retweet via "+tweetUser.username+" on "+dateDisplay+"</span><br/>"+mainTweet.content+"<br/> via  <a href='"+mainTweet.user.url+"' >"+mainTweet.user.username+"</a>"+" | "+ mainTweet.date_display +" | "+"<a href=\"/tweets/"+mainTweet.id+"\">View</a> | "+"<a class='retweetBtn' href=\"/tweets/"+tweetValue.id+"/retweet\">Retweet</a>"+"</div></div><hr/>"
            } else {
                tweetFormattedHtml = "<div class=\"media\"><div class=\"media-body\">"+tweetContent+"<br/> via  <a href='"+tweetUser.url+"' >"+tweetUser.username+"</a>"+" | "+ dateDisplay +" | "+"<a href=\"/tweets/"+tweetValue.id+"\">View</a> | "+"<a class='retweetBtn' href=\"/tweets/"+tweetValue.id+"/retweet\">Retweet</a>"+"</div></div><hr/>"
            }

            if ( prepend == true ){
                $('#tweet-container').prepend(tweetFormattedHtml)
            } else {
                $('#tweet-container').append(tweetFormattedHtml)
            }

        }

        function parseTweets(){
            if ( tweetList == 0 ){
                $('#tweet-container').text('No Tweets Currently Found. ')
            } else {
                $.each(tweetList, function(key, value){
                    var tweetKey = key;
                    if (value.parent){
                        attachTweet(value, false, true)
                    } else {
                        attachTweet(value)
                    }
                });
            }
        }

        function fetchTweets(url){
            /** console.log('fetching ..') */
            var fetchUrl;
            if(!url){
                fetchUrl = "api/tweets/"
            } else {
                fetchUrl = url
            }
            $.ajax({
                url : fetchUrl,
                data : {
                    'q': query
                },
                method : "GET",
                success : function(data){
                    tweetList = data.results
                    if ( data.next ){
                        nextTweetUrl = data.next
                    } else {
                        $('#loadmore').css('display','none')
                    }
                    parseTweets()
                    updateHashlinks()
                },
                error : function(data){
                    console.log('error');
                    console.log(data.statusText);
                }
    
            });
        };
        fetchTweets()

        $("#loadmore").click(function(event){
            event.preventDefault()
            if ( nextTweetUrl ){
                fetchTweets(nextTweetUrl);
            }

        });

        var charsStart = 140;
        var charsCurrent = 0;
        $('#tweet-form').append("<span id='tweetCharsLeft'>"+charsStart+"</span>")

        $('#tweet-form textarea').keyup(function(event){
            var tweetValue = $(this).val();
            charsCurrent = charsStart - tweetValue.length;
            var spanChars = $('#tweetCharsLeft');
            spanChars.text(charsCurrent);
            if ( charsCurrent > 0 ){
                spanChars.removeClass('grey-color');
                spanChars.removeClass('red-color');
            } else if ( charsCurrent == 0 ){
                spanChars.addClass('grey-color');
                spanChars.removeClass('red-color');
            } else if ( charsCurrent < 0 ){
                spanChars.removeClass('grey-color');
                spanChars.addClass('red-color');
            }
        });

        $('#tweet-form').submit(function(event){
            event.preventDefault()
            var that = $(this)
            var formdata = that.serialize()
            /** console.log(formdata) */
            if ( charsCurrent >= 0){
                $.ajax({
                    url : "api/tweets/create/",
                    method : "POST",
                    data : formdata,
                    success : function(data){
                        /** console.log(data); */
                        /**fetchTweets();*/
                        that.find("input[type=text], textarea").val("");
                        attachTweet(data, true)
                        updateHashlinks()
                    },
                    error : function(data){
                        console.log('error');
                        console.log(data.statusText);
                        console.log(data.status);
                    }
                });        
            } else {
                console.log('cannot send , tweet is too long!')
            }
            
        });

    });
</script>
{% endblock script %} 
{% block content %}


<div class="row" style="margin: 1%;">
    <div class="col-sm-3" style="background-color: red; height:72px">
        <h1>{{ request.user }}</h1>
    </div>
    <div class="col-sm-9">
        {% comment %} {% include "tweets/search_form.html" %} {% endcomment %} {% if not request.GET.q %}
        <div>
            {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_id='tweet-form' %}
        </div>
        <hr/> {% endif %} 
        <div id="tweet-container">

        </div>
        <a href="#" id="loadmore">Load More Tweets</a>
        <!-- {% for tweet in object_list %}
        <div class="media">
            {% if tweet.image %}
            <img src="..." class="mr-3" alt="..."> {% endif %}
            <div class="media-body">
                {{ tweet.content }}<br/> via {{ tweet.user }} | {{ tweet.timestamp | timesince }} ago | <a href="{{ tweet.get_absolute_url }}">View</a>
            </div>
        </div>
        <hr/> {% empty %} {% if request.GET.q %}
        <p>No Tweets Found !</p>
        {% else %}
        <p>No Tweets Yet !</p>
        {% endif %}
        <hr> {% endfor %} -->
    </div>
</div>

{% endblock content %}