{% extends "base.html" %}
{% block title %}Tweet List | {{ block.super }}{% endblock title %}

{% block content %}

    {% include "tweets/search_form.html" %} 
    {% for tweet in object_list %}
        <p>{{ tweet.content }}<br> 
            {{ tweet.user }}<br> 
            {{ tweet.timestamp | timesince }} ago </p><br> 
        {% empty %} 
        {% if request.GET.q %}
            <p>No Tweets Found !</p>
        {% else %}
            <p>No Tweets Yet !</p>
        {% endif %}
        <hr> 
    {% endfor %}


{% endblock content %}